<body class="mb-0">
    <nav class="navbar navbar-dark bg-dark fixed-top">

    	<a class="navbar-brand" href="/">Elite Recipes</a>

          <div class="navbar-nav">
              <form class="form-inline" method="get" action="/">
                  <div class="form-group ml-4">
                      <button class="btn btn-sm" id="logout-btn">Logout</button>
                  </div>
              </form>
          </div>
	</nav>
