<div class="tab-pane" id="cookbook" role="tabpanel" aria-labelledby="profile-tab">
    <h1>Cookbook</h1>
    <!-- Saved Recipes -->
    <div class="card mb-3">
        <div class="card-body">
          <h1 class="lead">No saved recipes yet!</h1>
        </div>
    </div>
</div>
