html {
    position: relative;
    min-height: 100%;
}

body {
    color: #1C2321;
    background-color: #EEF1EF;
    margin-bottom: 40px;
}

body h1, h2, h3, h4{
  color: #5E6572
}

body h5{
  color: white;
    background-color:#5E6572;
}

body a {
    color: #7D98A1;
}

body a:hover {
    color: #A9B4C2;
}

#carouselFood img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1000px !important;
    height: 500px;
}

#circles img {
    height:100% !important;
    width:300px !important;
}

.nav a {
    color: #5E6572;
}

.nav a:hover {
    color: #EEF1EF;
}

.add-recipe-form {
    margin-top: 100px;
}

.navbar {
    background-color: #7D98A1 !important;
    color: #EEF1EF !important;
}

.btn {
    background-color: #5E6572 !important;
    color: white;
}

.fotter {
    position:absolute;
    bottom:0;
    width:100%;
}

.btn:hover {
   color: #1C2321;
}

.jumbotron {
    background-color: #D3D3D3;
    border-radius: 0px !important;
}

#share {
    padding-top: 55px;
    padding-bottom: 20px;
}

#images h1 {
    font-size: 20px;
}

#images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.jumbotron h1 {
    color: #465366;
}

.jumbotron h4 {
    color: #7D98A1;
    font-weight: 300;
}

.jumbotron .btn {
    background-color: #7D98A1 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-tabs a:hover {
    color: #7D98A1;
}
