<% include partials/header.ejs %>
<% include partials/navbar2.ejs %>

<%
// This is test data, remove later
var user = {
	firstName: 'Haley',
	lastName: 'Little',
	email: 'haleylittle@gmail.com',
	username: 'hlittle',
	skill: 'Intermediate'
} %>

<main role="main">
		<div class= "container mt-5">
				<!-- code recieved from bootstrap examples -->
				<ul class="nav nav-tabs justify-content-end pt-4">
          <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
          </li>
					<li class="nav-item">
							<a class="nav-link" id="cookbook-tab" data-toggle="tab" href="#cookbook" role="tab" aria-controls="cookbook" aria-selected="false">Cookbook</a>
					</li>
				</ul>

				<div class="tab-content">
          <!-- Displays the metadata for the user and restaurant -->
          <% include dashboard-panes/profile.ejs %>

					<!-- Displays the metadata for the user and restaurant -->
					<% include dashboard-panes/cookbook.ejs %>
				</div>
		</div>
</main>

<% include partials/footer.ejs %>
