<% include partials/header.ejs %>
<% include partials/navbar3.ejs %>

<main role="main">
   <section class="jumbotron">
        <div class="container">

          <!-- Sign Up Form -->
          <form class="signup" method="get" action="/dashboard">

            <!-- Row 1 -->
            <div class="row">

                <!-- Column 1 -->
                <div class="col-sm-6">
                  <br> <h3>Personal Info</h3> <hr>
                      <label for="firstname">First Name: </label>
                      <input type="firstname" class="form-control mb-3" id="firstname" placeholder="First Name" required />

                      <label for="lastname">Last Name: </label>
                      <input type="lastname" class="form-control mb-3" id="lastname" placeholder="Last Name" required />

                      <label for="email">Email Address: </label>
                      <input type="email" class="form-control mb-3" id="email" placeholder="email@example.com" required />

                      <label for="skill">Cooking Skill Level: </label><br>
                      <input type="skill" class="form-control mb-3" id="skill" placeholder="Beginner, Intermediate or Experienced" required />
                </div>

                <!-- Column 2 -->
                <div class="col-sm-6">
                  <br> <h3>Account Info</h3> <hr>
                  <label for="username">Username: </label>
                  <input type="username" class="form-control mb-3" id="username" placeholder="Username" required />

                  <label for="password">Password: </label>
                  <input type="password" class="form-control mb-3" id="password" placeholder="Password" required />
                </div>

            </div>
        <!-- End Row 1 -->


        <!-- Row 2 -->
            <div class="row justify-content-center mt-2">

                <!-- Terms and Conditions Checkbox-->
                <div class="checkbox">
                     <input type="checkbox" class="mr-2 mb-3">I agree to the Terms and Conditions
                </div>

            </div>
        <!-- End Row 2 -->


        <!-- Row 3 -->
            <div class="row justify-content-center">

                <!-- Sign Up & Cancel Buttons -->
                <div class="btn-toolbar">
                  <button type="submit" class="btn btn-secondary mr-2">Sign Up</button>
                </div>

        </form>
        <!-- End Form -->

                <form method="get" action="/">
                  <button class="btn btn-secondary">Cancel</button>
                </form>

            </div>
        <!-- End Row 3 -->

    </section>
</main>

<% include partials/footer.ejs %>
